header {
  padding: 0 10%;
}
.sec1 {
  padding: 4% 10%;
}
.sec2 {
  padding: 4% 10%;
}
footer {
  padding: 3% 10%;
}
p,
.sec1 h1 {
  font-family: "Josefin Sans", sans-serif;
}
a {
  font-family: "Josefin Sans", sans-serif;
  letter-spacing: 1px;
}
