.sec1 {
  img {
    width: 70%;
    @media only screen and (max-width: 992px) {
      width: 100%;
    }
  }
  .item {
    position: relative;
    top: -300px;
    left: 520px;
    width: 50%;
    text-align: center;
    padding: 60px;
    border: 1px solid white;
    background-color: $color-white;

    h5 {
      color: rgb(206, 205, 209);
    }
    @media only screen and (max-width: 992px) {
      width: 100%;
      padding: 0;
      top: 0px;
      left: 0px;
      h1 {
        margin: 20px 0;
      }
    }
  }
}
